<footer>
  <h4>The best place to discover Sour Beers!</h4>
  <p>Home</p>
  <p>About</p>
  <p>Sour Beer 101</p>
  <p><%= link_to "Terms", page_path("terms_of_service") %></p>
  <p><a href="mailto:info@sourhunt.com">Email Us</a></p>
  ©2016 SourHunt.com. All rights reserved.
</footer>
