$like-color: #e2c044;

.beer-image {
  margin: 10px;
}

.panel-body {
  img {
    display: block;
    margin: auto;
  }

  .image-container {
    padding: 0;
  }
}

.action-buttons {
  margin-top: 5px;

  .button-container {
    margin: auto;
    width: 57%;
  }
}

.liked {
  background: $like-color;
}

.like-btn-container {
  display: inline;
}


