@import "../colors";

#beers {
  margin-top: 100px;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.beer-panel {
  background: #fdfdfd;
  border: 0;
  display: flex;

  .col-1 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 30%;
  }

  .col-2 {
    align-items: center;
    display: flex;
    width: 70%;
  }
}

.beer-panel a {
  color: $primary-color;

  &:hover {
    color: darken($primary-color, 5%);
    text-decoration: none;
  }
}

.beer-panel-img {
  margin: 20px;
}

.beer-panel-content {
  height: 150px;
  max-width: 500px;
}

.action-buttons {
  display: flex;

  .like-button {
    margin: 5px;
  }

  .comment-button {
    margin: 5px;
  }
}

@media (max-width: 800px) {
  .beer-panel {
    align-items: center;
    flex-direction: column;
    height: 500px;
    justify-content: center;

    .col-1 {
      align-items: center;
      justify-content: center;
      width: 80%;
    }

    .col-2 {
      width: 80%;
    }

    .beer-panel-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

    .action-buttons {
      justify-content: center;
    }
  }
}


