@import "../colors";

#beers {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}

.beer-panel {
  display: flex;
  border: 0;
  background: #fdfdfd;

  .col-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }

  .col-2 {
    display: flex;
    align-items: center;
    width: 70%;
  }
}

@media (max-width: 800px) {
  .beer-panel {
    flex-direction: column;
    align-items: center;
    height: 500px;
  }

  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: 100%;
  }

  .beer-panel-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .beer-panel-action-buttons {
    justify-content: center;
  }
}

.beer-panel-img {
  margin: 20px;
}

.beer-panel-content {
  max-width: 500px;
  height: 150px;
}

.beer-panel-action-buttons {
  display: flex;

  .like-button {
    margin: 5px;
  }

  .comment-button {
    margin: 5px;
  }
}


