@import "../colors";

.comments-container {
  margin: auto;
  margin-top: 50px;
  width: 80%;

  h3 {
    margin-bottom: 50px;
  }
}

#add-beer-comment {
  margin-bottom: 50px;
  width: 70%;
}

.comment-submit-btn {
  background: $primary-color;
  border-color: $primary-color;
  color: white;
}

.comment-content {
  .panel-title {
    display: inline;
  }

  .edit-comments-icons {
    float: right;
  }
}
