<h2>Sour Beer 101</h2>
<div class="content">
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TbFYh_oLfj4" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Q0jkQukciGA" frameborder="0" allowfullscreen></iframe>
  </div>

</div>
