<div class="add-beer-container">
  <div class="add-beer-header">
    <h2>Add a New Beer</h2>
  </div>

  <div class="add-beer-body">
    <%= render partial: "add_beer_form", locals: { beer: beer } %>
  </div>
</div>
