<% if current_user && current_user.admin? %>
  <%= render partial: "add_beer", locals: { beer: @beer } %>
<% end %>

<div id="beers">
  <h3>Sour Beers</h3>
  <% @beers.each do |beer| %>
    <div id="beer-<%=beer.id %>" class="beer panel panel-default clearfix">
      <%= render partial: "beer_panel", locals: { beer: beer } %>
    </div>
  <% end %>
</div>
