<% if current_user && current_user.admin? %>
  <%= render partial: "add_beer", locals: { beer: @beer } %>
<% end %>

<div id="beers">
  <% @beers.each do |beer| %>
    <%= render partial: "beer_panel", locals: { beer: beer } %>
  <% end %>
</div>
